body {
	background-color: ivory;
	font-family: verdana;
}
h1 {
	text-shadow: 2px 2px #000000;
	font-family: verdana;
	font-size: 50px;
	color: cadetblue;
}
h2 {
	font-family: verdana;
	color: cadetblue;
}
p {
	font-family: verdana;
	color: darkblue;
}
li {
	color: darkblue;
}

div {
	justify-content: center;
	flex-wrap: wrap;
	
}
.tidydiv {
	column-gap: 50px;
}

@media screen and (max-width: 600px) {
	img {
		max-width: 100%;
	}
	div {
		width: 350px;

	}
	body {
		background-color: skyblue;
		color: white;
		font-family: fantasy;
	}
}

.flex-container1 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: lightcoral;
	font-size: 20px;
	padding: 50px;
	color: yellow;
	margin: 100px;
}

.flex-container2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: lightsalmon;
	color: darkblue;
	padding: 100px;
	float: center;
	margin: 100px;
}

.col-4 {
	
	flex-wrap: wrap;
	color: rebeccapurple;
	font-size: 15px;
	float: center;
	text-align: left;
}
.row {
	padding: 100px;
	
	
	grid-gap: 50px;
}
.container-fluid{
	float: left;
}
